.fenlei{
    width:80%;
    margin:0 auto;
    padding-top: 20px;
    display: block;
}
i{
    width:20%;
    height:30px;
    line-height:30px;
    text-align:center; 
    font-size:14px;
    display:inline-block; 
    background:#f3f3f3;
    color:#000;
    margin-right:20px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-style: normal;
}
i:nth-of-type(4n){
    margin-right:0
}